$datepicker__background-color: $colorItemBackground !default;
$datepicker__border-color: $colorLightGrey !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: $colorLightGrey !default;
$datepicker__selected-color: $colorLink !default;
$datepicker__text-color: $colorPrimaryText !default;
$datepicker__header-color: $colorPrimaryText !default;
$datepicker__navigation-disabled-color: lighten(
  $datepicker__muted-color,
  10%
) !default;

$datepicker__border-radius: 0.3em !default;
$datepicker__day-margin: 0.22rem !default;
$datepicker__font-size: 1.25em !default;
$datepicker__font-family: 'Roboto', sans-serif !default;
$datepicker__item-size: 3.2em !default;
$datepicker__margin: 0.6em !default;
$datepicker__navigation-size: 0.4em !default;
$datepicker__triangle-size: 8px !default;

@import '../vendors/react-datepicker/datepicker.scss';

// Fix font-size
#{$widgetSelector} {
  .react-datepicker {
    font-size: $datepicker__font-size;
  }

  .react-datepicker__current-month {
    font-weight: normal;
  }

  .react-datepicker__day:hover,
  .react-datepicker__day--selected {
    border-radius: 50%;
  }
}
