/* Color */
$colorLightGrey: #ccc;
$colorLink: #00a2e1;
$colorPrimaryText: #2c3e50;
$colorRed: #cc4a40;
$colorError: $colorRed;
$colorErrorBackground: #f4dfde;
$colorPausedBackground: #dfe2ea;
$colorItemBackground: #fefafa;

/* Font variables */
$fontStyle: 'Avenir', Helvetica, Arial, sans-serif;
$fontSizeBase: 1.4em;
$fontSizeTitle: 1.6em;
$fontSizeHead: 1.8em;
